.btn-gray, .btn-important, .btn-accepted, .btn-warn {
  border-radius: var(--border-radius);
}

.btn-gray {
  border-color: var(--gray-600) !important;
  background-color: var(--gray-600) !important;
  color: var(--gray-50) !important;

  &:hover, &:active, &:focus {
    border-color: var(--gray-700) !important;
    background-color: var(--gray-700) !important;
  }
}

.btn-important {
  border-color: var(--red-600) !important;
  background-color: var(--red-600) !important;
  color: var(--red-50) !important;

  &:hover, &:active, &:focus {
    border-color: var(--red-700) !important;
    background-color: var(--red-700) !important;
  }
}

.btn-accepted {
  border-color: var(--green-500) !important;
  background-color: var(--green-500) !important;
  color: var(--green-50) !important;

  &:hover, &:active, &:focus {
    border-color: var(--green-700) !important;
    background-color: var(--green-700) !important;
  }
}

.btn-warn {
  border-color: var(--orange-500) !important;
  background-color: var(--orange-500) !important;
  color: var(--orange-50) !important;

  &:hover, &:active, &:focus {
    border-color: var(--orange-700) !important;
    background-color: var(--orange-700) !important;
  }
}
