body {
  background-color:var(--surface-ground);
}

/* layout blocks  */
.content-block {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}


.error {
  color: #D57575;
}
.warning {
  color: var(--yellow-600);
}


a {
  color: var(--primary-color);
  font-weight: 600;

  &:hover, &:active, &:focus {
    color: var(--primary-color--secondary)
  }
}

.color-primary {
  color: var(--primary-color)
}
