body {
  font-family: var(--font-default);
  font-size: var(--font-default);
  background-color:var(--color-white);
  color: var(--text-color-default);
}

.color-primary { color: var(--color-primary)}
.color-error { color: var(--color-error)}
// general styles

.content-block {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  align-items: center;
  width: content-box;
  padding-bottom: 30px;
}

.content-block {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}
