body {
  font-family: var(--font-default);
  font-size: var(--font-default);
  background-color:var(--surface-ground);
  color: var(--text-color-default);
}

.content-block {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}

h1,h2,h3,h4 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 400;

  span {
    font-weight: 600;

    &::after {
      content:'\00a0'
    }
  }
}


.error {
  color: #D57575;
}
