.deleteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:100000;
  background-color: var(--color-white);
  padding: 50px 80px;
  border-radius: 10px;
  box-shadow: var(--widget-box-shadow)
}
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 1000%;
  height: 1000%;
  background-color: var(--color-light-alpha);
  z-index: 100;
}
.modal-closeBtn {
  position:absolute;
  right:30px;
  top:30px;
}
