.moduleItem {
  border-radius: 10px;
  padding: 25px;
  box-shadow: var(--widget-box-shadow);
  background-color: var(--color-white);

  &.moduleIsRequired {
  background-color: var(--color-primary-medium);
  }

  .moduleIcons {
    position: absolute;
    top: 0;
    right: 0;
  }
}
