@import 'styles/normalize.pcss';
@import 'index.pcss';

@import 'primeicons/primeicons.css';
@import "styles/more-light/theme.pcss";

@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap';

@import './styles/text-styles.pcss';
@import './styles/layout.pcss';
@import './styles/btn.pcss';
@import './styles/components/moreTable-dialogs.pcss';

@import 'styles/print.pcss';
