@import './styles/normalize.css';
@import './index.css';

@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap';

@import './styles/variables.pcss';
@import './styles/main.pcss';

@import './styles/text.pcss';
@import './styles/btn.pcss';
@import './styles/form.pcss';



